---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
  {% if item.url and item.url != '/404.html' and item.url != '/sitemap.xml' and not item.data.draft and item.data.robots != 'noindex,follow' and item.data.robots != 'noindex,nofollow' %}
  {% set lastModified = item.inputPath | gitUpdated(item.data.updated or item.data.date) %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>{% if lastModified %}
    <lastmod>{{ lastModified | isoDate }}</lastmod>{% endif %}
  </url>
  {% endif %}
{% endfor %}
</urlset>
